*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}
.main-header{
    background-color: rgb(100 149 237);
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    
}

.d-flex{
    display: flex;
}
.main-header .links{
    display: flex;
    list-style: none;
}
.main-header .links a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.align-v-center{
    align-items: center;
}
.main-header .search{
    background-color: transparent;
    border: none;
}
main-header button.search {
    width: 34px;
}
.main-header button.search img{
    width: 80%;
}
.mainbanner-section{
    background-image:linear-gradient(to right, #0000ff36, #1821af70),url(./../mockup/pic/banner_image.jpg);
    background-position: center;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 240px;
    background-size: cover;
    cursor: pointer;

}
.mainbanner-section h1{
    font-size: 50px;

}
.banner-p{
    display: block;
}
.mainbanner-section button{
    background-color: #ffc107;
    color:#fff;
    border: 2px solid #ffc107;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
}
/*********--------Main Banner section end---------------*************/
/**********--------second banner section Start-----------***********/
.second-Banner{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.second-Banner-3-col{
    display: flex;

}
.second-Banner h2{
    font-size: 50px;
}
.pet{
    font-size:25px;
}
.pet-pp{
    font-weight: 100;
}
div > img{
    padding-left: 10px;
    padding-right: 10px;
}
/**********-----------yellow-banner-section start--------------*******/
.yellow-banner-section{
    text-align: center;
    background-image:linear-gradient(#ffc107c4, #ffc107c4),url(./../mockup/pic/pet_care_banner.png.jpg);
    color: white;
    padding-top: 70px;
    padding-bottom: 120px;
    background-size: cover;
    background-position:center;
}
.yellow-banner-section h2{
    font-size: 50px;
}
.yellow-content{
    display: flex;
    justify-content: space-around;
}
.yellow-content > div{
    border: 8px solid white;
    border-radius: 50%;
    padding: 30px 20px;
    width: 15%;
    height: 15%;
}
.yellow-content > div h3{
    font-size: 30px;
}
.yellow-content > div p{
    font-weight: 100;
}

/**********----------yellow-banner-section End-----------------*******/


.blue-section{
    background-color: #2196f3;
    display: flex;
    justify-content: space-evenly;
    padding: 125px 60px;
    color: white;
}
.th{
    width: 50%;
}
p.th-p {
    font-size: 43px;
}
p.th-pp{
    font-size: 20px;
    font-weight: 100;
}
.imge{
    width: 50%;
    text-align: center;
}
.blue-section img{
    width: 60%;
}
.btn-blue-section{
    border: 1px solid #ffc107;
    background-color: #ffc107;
    border-radius: 47px;
    padding: 10px 70px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;

}

/* blue section reverse code start */
.blue-section-reverse{
    background-color: #3f51b5;
    display: flex;
    justify-content: space-evenly;
    padding: 115px 60px;
    color: white;
}
.th{
    width: 50%;
    padding-left: 80px;
}
p.th-p-reverse{
    font-size: 43px;
}
p.th-pp-reverse{
    font-size: 20px;
    font-weight: normal;
}
.blue-section-reverse imge{
    width: 50%;
    text-align: center;
}
.blue-section-reverse img{
    width: 70%;
}
.btn-blue-section{
    border: 1px solid #ffc107;
    background-color: #ffc107;
    border-radius: 47px;
    padding: 10px 70px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}
/* Blue section code reverse code end */
/* Pricing tag section start */

section.pricing-section { 
    text-align: center; 
    background-color: #03a9f4;
    padding-top: 10px;
    padding-bottom: 550px;
    color: white;
}
p.pricing-section-p {
    font-size: 50px;
}
.pricing-section-pp{
    font-size: 23px;
}
p.p-para {
    text-align: center;
    color: white;
    font-size: 20px;
}
.pricing{
    width: 33.333333%;
    float: left;
    padding: 35px;
    
}
.pricing > div{
    background-color: white;
    border-color: white;
    border-radius: 10px;
    padding: 60px 20px;
    
}
.pricing-para{
    text-align: center;
    color: #3494d6;
    font-size: 25px;
}
p.pricing-para-pp {
    color: #3494d6;
    text-align: center;
    font-weight: 100;
}
.img{
    width: 100%;
}
img.pricing-img {
    width: 30%;
}
 .pricing-btn{
    background-color: #ffc107;
    border: #ffc107;
    border-radius: 40px;
    color: white;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }
/* pricing code copied from task.css */

/* two row two column section code end */ 
.two-row-two-col{
    background-color:#1d72b5;
    padding-top: 30px;
    text-align: center;
    color: white;
    padding-bottom: 400px;   
}
p.two-row-two-col-p {
    font-size: 50px;
    text-align: center;
    color: white;
}
.two-row-two-col-col {
    float: left;
    width: 50%;
   padding-left: 130px;
   padding-right: 100px;
    
}
img.two-col-img {
    width: 100px;
    float: left;
    padding: 30px 15px;
}
p.two-col-p {
    text-align: left;
    font-weight: 100;
}
p.two-col-pp{
    text-align: left;
    font-size: x-large;
}

/* Yellow banner Dr.Jenny section code start */

.jenny-with-dog{
        background-image:linear-gradient(#ffeb3bbf, #ffeb3bbf),url(./../mockup/pic/dr_Jenny.jpg);
        background-position: center;
        padding: 220px 375px;
        background-position: center;
        background-size: cover;
}
.jenny-with-dog p{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
    color: white;
}
/* Yellow banner Dr.jenny section code end */
/* Footer code start */
footer.footer-para {
    background-color: black;
    padding-top: 85px;
    padding-bottom: 15px;
    display: flex;
    padding-left: 100px;
}
.footer-left{
    width: 25%;
    color: white;
   }
.footer-left-p {
    font-size: 25px;
    font-family:sans-serif;
    font-weight: bold;
}
.footer-left-pp{
    font-family: sans-serif;
    list-style-type: none;
    font-weight: 100;
}
.footer-right {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    width: 75%;
}
/* Footer code end */
