*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}
.main-header{
    background-color: rgb(32 148 243 / 53%);
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    
}


/* For Mobile View Responsive code start */
@media (max-width: 767px){
    .mainbanner-section{
        background-image:linear-gradient(to right, #0000ff36, #1821af70),url(./../mockup/pic/banner_image.jpg);
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 120px 70px;
        background-size: cover;
    }
    .mainbanner-section-btn{

    background-color: #ffc107;
    color:#fff;
    border: 2px solid #ffc107;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    }
    .mainbanner-section-btn:hover{

    background-color: #f9d463;
    color:#fff;
    border: 2px solid #f9d463;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    }
    .second-Banner{
        text-align: center;
        background-color: cornflowerblue;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .second-Banner h2{
        font-size: 50px;
    }
    .second-Banner-3-col{
        display: flex;
        flex-direction: column; 
        padding-left: 10px;
        padding-right: 10px;   
     }
     .pet{
        font-size:25px;
    }
    .pet-pp{
        font-weight: 100;
    }
    .second-Banner-3-col .div > img{
        padding-left: 10px;
        padding-right: 10px;
    }
   
    .yellow-banner-section{
        text-align: center;
        background-image:linear-gradient(#ffc107c4, #ffc107c4),url(./../mockup/pic/pet_care_banner.png.jpg);
        color: white;
        padding-top: 10px;
        padding-bottom: 60px;
        background-size: cover;
        background-position:center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .yellow-banner-section h2{
        font-size: 50px;
    }
    
    .yellow-content > div{
        border: 8px solid white;
        border-radius: 50%;
        padding: 20px 40px;
        width: 225px;
        height: 225px;
    }
    .yellow-content > div h3{
        font-size: 30px;
    }
    .yellow-content > div p{
        font-weight: 100;
    }
    
    .yellow-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .blue-section{
        background-color: #2196f3;
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        
    }
    .blue-section-th{
        width: 100%;
        text-align: center;
    }
    p.th-p {
        font-size: 43px;
        text-align: center;
    }
    p.th-pp{
        font-size: 20px;
        font-weight: 100;
        text-align: center;
    }
    .imge{
        width: 70%;
        text-align: center;
        padding-bottom: 20px;
    }
    .blue-section img{
        width: 100%;
        padding-top: 30px;
    }
    .btn-blue-section{
        border: 1px solid #ffc107;
        background-color: #ffc107;
        border-radius: 47px;
        padding: 10px 70px;
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        cursor: pointer;
        text-align: center;
    
    }
    .btn-blue-section:hover{
        border: 1px solid #f3c026;
        background-color: #f3c026;
        border-radius: 47px;
        padding: 10px 70px;
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        cursor: pointer;
        text-align: center;
    }
    .blue-section-reverse{
        background-color: #3f51b5;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: white;
        flex-direction: column;
        padding-top: 40px;
    }
    p.th-p-reverse{
        font-size: 43px;
        text-align: center;
    }
    p.th-pp-reverse{
        font-size: 20px;
        font-weight: normal;
        text-align: center;
    }
    .blue-section-reverse imge{
        width: 50%;
        text-align: center;
    }
    .blue-section-reverse img{
        width: 70%;
    }
    .blue-section-reverse-th{
        width: 100%;   
        text-align: center; 
        padding-bottom: 50px; 
       
    }
    .pricing{
       width: 100%;
       padding-left: 40px;
       padding-right: 40px;
       padding-top: 40px;
        
    }
    .pricing-col{
        display: flex;
        flex-direction: column;
    }
    .pricing-section-pp{
        font-size: 17px;
    }
    .pricing-btn:hover{
        background-color: #f3c026;
        border: #f3c026;
        border-radius: 40px;
        color: white;
        padding: 20px 80px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
     }
    section.pricing-section { 
        text-align: center; 
        background-color: #03a9f4;
        padding-top: 10px;
        padding-bottom: 60px;
        color: white;
    }
   
.tworow-twocol-container {
    display: flex;
    flex-direction: column;
}
.two-row-two-col{
    background-color:#1d72b5;
    padding-top: 30px;
    text-align: center;
    color: white;
    padding-bottom: 50px;   
    padding-left: 40px;
    padding-right: 40px;
}
p.two-col-pp{
    text-align: center;
    font-size: x-large;
}
p.two-row-two-col-p {
    font-size: 50px;
    text-align: center;
    color: white;
}
.jenny-with-dog{
    background-image:linear-gradient(#ffeb3bbf, #ffeb3bbf),url(./../mockup/pic/dr_Jenny.jpg);
    padding: 70px 0px;
    background-position: center;
    background-size: cover;
}
.jenny-with-dog p{
    text-align: center;
font-family: sans-serif;
font-weight: normal;
color: white;
}
footer.footer-para {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    flex-direction: column;
}
.footer-left{
   text-align: center;
    color: white;
   }
.footer-left-p {
    font-size: 25px;
    font-family:sans-serif;
    font-weight: bold;
}
.footer-left-pp{
    font-family: sans-serif;
    list-style-type: none;
    font-weight: 100;
}
.footer-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
    padding-right: 90px;
}
}


/* For Desktop View Responsive code start */
@media (min-width: 768px){

    
    .main-header .links a{
        color: white;
        text-decoration: none;
        padding: 5px 10px;
    }
    ul.links li:first-child a {
        padding-left:0;

    }
.main-header{
    flex-direction: row;
}
.main-header .search{
    background-color: transparent;
    border: none;
    display: none;
}
.mainbanner-section{
    background-image:linear-gradient(to right, #0000ff36, #1821af70),url(./../mockup/pic/banner_image.jpg);
    background-position: center;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 240px;
    background-size: cover;
}
.mainbanner-section button{
    background-color: #ffc107;
    color:#fff;
    border: 2px solid #ffc107;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.mainbanner-section-btn:hover{
    background-color: #f1cf69;
    color:#fff;
    border: 2px solid #f1cf69;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.second-Banner{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-Banner h2{
    font-size: 50px;
}

 .second-Banner-3-col{
    display: flex;
     
 }
 .pet{
    font-size:25px;
}
.pet-pp{
    font-weight: 100;
}
.second-Banner-3-col .div > img{
    padding-left: 10px;
    padding-right: 10px;
}

.yellow-banner-section{
    text-align: center;
    background-image:linear-gradient(#ffc107c4, #ffc107c4),url(./../mockup/pic/pet_care_banner.png.jpg);
    color: white;
    padding-top: 70px;
    padding-bottom: 120px;
    background-size: cover;
    background-position:center;
}
.yellow-banner-section h2{
    font-size: 50px;
}

.yellow-content > div{
    border: 8px solid white;
    border-radius: 50%;
    padding: 20px 40px;
    width: 225px;
    height: 225px;
}
.yellow-content > div h3{
    font-size: 30px;
}
.yellow-content > div p{
    font-weight: 100;
}

 .yellow-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}
.blue-section{
    flex-direction: column;
}
.blue-section{
    background-color: #2196f3;
    display: flex;
    justify-content: space-evenly;
    padding: 125px 60px;
    color: white;
    flex-direction: row;
}
.blue-section th{
    width: 50%;
}
p.th-p {
    font-size: 43px;
}
p.th-pp{
    font-size: 20px;
    font-weight: 100;
}
.blue-section imge{
    width: 50%;
    text-align: center;
}
.blue-section img{
    width: 60%;
}
.btn-blue-section{
    border: 1px solid #ffc107;
    background-color: #ffc107;
    border-radius: 47px;
    padding: 10px 70px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}
.btn-blue-section:hover{
    border: 1px solid #f3c026;
    background-color: #f3c026;
    border-radius: 47px;
    padding: 10px 70px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}
p.th-p-reverse{
    font-size: 43px;
}
p.th-pp-reverse{
    font-size: 20px;
    font-weight: normal;
}
.blue-section-reverse imge{
    width: 50%;
    text-align: center;
}
.blue-section-reverse img{
    width: 70%;
}
.blue-section-reverse{
    background-color: #3f51b5;
    display: flex;
    justify-content: space-evenly;
    padding: 115px 60px;
    color: white;
    flex-direction: row;
}
.th{
    width: 50%;
    /* padding-left: 80px; */
}
.pricing{
    width: 33.333333%;
    padding: 35px;
    
}
.pricing-btn{
    background-color: #ffc107;
    border: #ffc107;
    border-radius: 40px;
    color: white;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }
 .pricing-btn:hover{
    background-color: #f3c026;
    border: #f3c026;
    border-radius: 40px;
    color: white;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }
.pricing-section-pp{
    font-size: 23px;
}
.pricing-col{
    display: flex;
}
section.pricing-section { 
    text-align: center; 
    background-color: #03a9f4;
    padding-top: 10px;
    padding-bottom: 60px;
    color: white;
}
.tworow-twocol-container{
    display: flex;
    flex-wrap: wrap;

}
.two-row-two-col{
    background-color:#1d72b5;
    padding-top: 30px;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-left: 40px;   
    padding-right: 40px;
}
p.two-row-two-col-p {
    font-size: 50px;
    text-align: center;
    color: white;
}
.two-row-two-col-col {
    float: left;
    width: 50%;
   padding-left: 15px;
   padding-right: 15px;
    
}
img.two-col-img {
    width: 100px;
    float: left;
    padding: 30px 15px;
}
p.two-col-p {
    text-align: left;
    font-weight: 100;
}
p.two-col-pp{
    text-align: left;
    font-size: x-large;
}

.jenny-with-dog{
    background-image:linear-gradient(#ffeb3bbf, #ffeb3bbf),url(./../mockup/pic/dr_Jenny.jpg);
    background-position: center;
    padding: 220px 375px;
    background-position: center;
    background-size: cover;
}
.jenny-with-dog p{
text-align: center;
font-size: 30px;
font-family: sans-serif;
font-weight: normal;
color: white;
}
footer.footer-para {
    background-color: black;
    padding-top: 85px;
    padding-bottom: 15px;
    display: flex;
    padding-left: 100px;
}
.footer-left{
    width: 25%;
    color: white;
   }
.footer-left-p {
    font-size: 25px;
    font-family:sans-serif;
    font-weight: bold;
}
.footer-left-pp{
    font-family: sans-serif;
    list-style-type: none;
    font-weight: 100;
}
.footer-right {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    width: 75%;
}
}
/* For Desktop View @media (min-width:768px) code End */

.main-header img{
    width: 100px;
}
.d-flex{
    display: flex;
}
.main-header .links{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.main-header .links a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.align-v-center{
    align-items: center;
}
.main-header .search{
    background-color: transparent;
    border: none;
     display: block; 
}
main-header button.search {
    width: 34px;
}
.main-header button.search img{
    width: 80%;
}

.mainbanner-section h1{
    font-size: 50px;

}
.banner-p{
     display: block; 
}

/*********--------Main Banner section end---------------*************/
/**********--------second banner section Start-----------***********/


/**********----------yellow-banner-section End-----------------*******/







/* blue section reverse code start */




/* Blue section code reverse code end */
/* Pricing tag section start */


p.pricing-section-p {
    font-size: 50px;
}

p.p-para {
    text-align: center;
    color: white;
    font-size: 20px;
}

.pricing > div{
    background-color: white;
    border-color: white;
    border-radius: 10px;
    padding: 60px 20px;
    
}
.pricing-para{
    text-align: center;
    color: #3494d6;
    font-size: 25px;
}
p.pricing-para-pp {
    color: #3494d6;
    text-align: center;
    font-weight: 100;
}
.img{
    width: 100%;
}
img.pricing-img {
    width: 30%;
}
 .pricing-btn{
    background-color: #ffc107;
    border: #ffc107;
    border-radius: 40px;
    color: white;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }
/* pricing code copied from task.css */

/* two row two column section code end */ 

/* Yellow banner Dr.Jenny section code start */


/* Yellow banner Dr.jenny section code end */
/* Footer code start */

/* Footer code end */
